<section class="footer_wrapper">
    <div class="footer_block text_footer_links">
        <ul class="footer_list">
            <li class="footer_item">
                <a href="#" class="footer_link">Articles</a>
            </li>
            <li class="footer_item">
                <a href="#" class="footer_link">Books</a>
            </li>
            <li class="footer_item">
                <a href="#" class="footer_link">Events</a>
            </li>
            <li class="footer_item">
                <a href="#" class="footer_link">Reasons</a>
            </li>
            <li class="footer_item">
                <a href="#" class="footer_link">Tips</a>
            </li>
        </ul>
    </div>
    <div class="footer_block text_footer_links">
        <ul class="footer_list">
            <li class="footer_item">
                <a href="#" class="footer_link">Twitter</a>
            </li>
            <li class="footer_item">
                <a href="#" class="footer_link">Instagram</a>
            </li>
            <li class="footer_item">
                <a href="#" class="footer_link">Mastodon.social</a>
            </li>
        </ul>
    </div>
    <div class="footer_bottom text_footer_bottom">
        <p class="copyright">©2017</p>
        <p class="slogan">we<span class="slogan_heart"> ❤︎ </span>components</p>
    </div>
    <a href="index.html#hero" class="footer_button">
        <div class="scroll-arrow-container">
            <img class="arrow" src="../../assets/images/ico-arrow.jpg" alt="img_button">
        </div>
    </a>
</section>