<header class="header_wrapper">
    <nav class="header_nav">
        <button class="nav_button">
            <div class="nav_container">
                <img class="menu" src="../../assets/images/ico-menu.svg" alt="img_menu">
            </div>
        </button>
    </nav>
    <section id="hero" class="hero_wrapper">
        <h1 class="hero_title text_hero_title">Anonymous proxy</h1>
        <p class="hero_p text_hero_p">In hac habitasse platea dictumst.</p>
        <a href="index.html#section_tips" class="hero_button">
            <div class="scroll_arrow_container special_scroll_button">
                <img class="scroll-arrow" src="../../assets/images/ico-scroll-down.svg" alt="img_button">
            </div>
        </a>
    </section>
</header>