<section id="section_tips" class="section_tips_wrapper">
    <h2 class="tips_title text_tips_title">Insomnia tips</h2>
    <article class="tips_article">
        <h3 class="article_title text_article_title">Looking through a window</h3>
        <p class="article_p text_article_p">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
    </article>
    <button class="tips_button text_button btnWhite">Go</button>

    <a href="index.html#section_tips" class="hero_button">
        <div class="scroll-arrow-container">
            <img class="scroll-arrow" src="../../assets/images/ico-scroll-down.jpg" alt="img_button">
        </div>
    </a>

</section>