<section class="section_reasons_wrapper">
    <h2 class="reasons_title text_article_title">3 reasons to purchase</h2>
    <ul class="reasons_list reasons_grid_box">
        <li class="reasons_item">
            <h3 class="item_title text_reasons_tit">Ut sed metus</h3>
            <p class="item_p text_reasons_p">Lorem ipsum dolor sit amet, consecteur.</p>
        </li>
        <li class="reasons_item">
            <h3 class="item_title text_reasons_tit">Curabitur ac erat</h3>
            <p class="item_p text_reasons_p">Mauris mattis urna quis lorem molestie.</p>
        </li>
        <li class="reasons_item">
            <h3 class="item_title text_reasons_tit">Morbi dictum</h3>
            <p class="item_p text_reasons_p">Aliquam in dolor et dolor tincidunt.</p>
        </li>
    </ul>
    <a href="#" class="button_link_reasons">
        <div class="text_button btnWhite reasons_button">More reasons</div>
    </a>
</section>