.btnWhite {
    border: none;
    color: $colorOrange;
    background-color: $colorWhite;
    border-radius: 22.5px;
    border: 2px solid $colorOrange;
    text-align: center;
    vertical-align: center;
}
.btnOrange {
    border: none;
    color: $colorWhite;
    background-color: $colorOrange;
}
