.text_hero_title {
    font-family: $fontFamily_title;
    font-size: $fontSize_hero;
    line-height: $lineHeight_hero;
    color: $colorWhite;
    font-weight: $fontWeight_big;
    @media all and (min-width: 768px) {
        font-size: $fontSize_heroBig;
        line-height: $lineHeight_heroBig;
    }
    @media all and (min-width: 1280px) {
        font-size: $fontSize_heroXL;
        line-height: $lineHeight_heroXL;
    }
}
.text_hero_p {
    font-family: $fontFamily_default;
    font-size: $fontSize_medium;
    color: $colorWhite;
    font-weight: $fontWeight_regular;
    @media all and (min-width: 768px) {
        font-size: $fontSize_titleBig;
    }
}
.text_tips_title {
    font-family: $fontFamily_default;
    font-size: $fontSize_small;
    line-height: $lineHeight_default;
    color: $colorLightblue;
    font-weight: $fontWeight_regular;
    @media all and (min-width: 1280px) {
        font-size: $fontSize_medium;
    }
}
.text_article_title {
    font-family: $fontFamily_title;
    font-size: $fontSize_titleBig;
    line-height: $lineHeight_default;
    color: $colorBlack;
    font-weight: $fontWeight_big;
    @media all and (min-width: 768px) {
        font-size: $fontSize_titleXL;
        line-height: $lineHeight_button;
    }
    @media all and (min-width: 1280px) {
        font-size: $fontSize_titleXXL;
    }
}
.text_article_p {
    font-family: $fontFamily_default;
    font-size: $fontSize_title;
    line-height: $lineHeight_default;
    color: $colorGrey;
    font-weight: $fontWeight_regular;
    @media all and (min-width: 768px) {
        font-size: $fontSize_titleMed;
    }   
}
.text_button {
    font-family: $fontFamily_default;
    font-size: $fontSize_button;
    line-height: $lineHeight_button;
    font-weight: $fontWeight_medium;
    &:hover {
        font-size: $fontSize_medium;
    }
}
.text_reasons_tit {
    font-family: $fontFamily_title;
    font-size: $fontSize_title;
    line-height: $lineHeight_default;
    color: $colorBlack;
    font-weight: $fontWeight_big;
    @media all and (min-width: 768px) {
        font-size: $fontSize_titleBig;
    }
}
.text_reasons_p {
    font-family: $fontFamily_default;
    font-size: $fontSize_title;
    line-height: $lineHeight_default;
    color: $colorBlack;
    font-weight: $fontWeight_regular;
    @media all and (min-width: 768px) {
        font-size: $fontSize_titleMed;
    }
}
.text_footer_links {
    font-family: $fontFamily_default;
    font-size: $fontSize_medium;
    line-height: $lineHeight_default;
    font-weight: $fontWeight_regular;    
}
.text_footer_bottom {
    font-family: $fontFamily_default;
    font-size: $fontSize_small;
    line-height: $lineHeight_default;
    color: $colorWhite;
    font-weight: $fontWeight_regular;   
}