.text_hero_title {
    font-family: $fontFamily_title;
    font-size: $fontSize_hero;
    line-height: $lineHeight_hero;
    color: $colorWhite;
    font-weight: $fontWeight_big;
}
.text_hero_p {
    font-family: $fontFamily_default;
    font-size: $fontSize_medium;
    color: $colorWhite;
    font-weight: $fontWeight_regular;
}
.text_tips_title {
    font-family: $fontFamily_default;
    font-size: $fontSize_small;
    line-height: $lineHeight_default;
    color: $colorLightblue;
    font-weight: $fontWeight_regular;
}
.text_article_title {
    font-family: $fontFamily_title;
    font-size: $fontSize_titleBig;
    line-height: $lineHeight_default;
    color: $colorBlack;
    font-weight: $fontWeight_big;
}
.text_article_p {
    font-family: $fontFamily_default;
    font-size: $fontSize_title;
    line-height: $lineHeight_default;
    color: $colorGrey;
    font-weight: $fontWeight_regular;    
}
.text_button {
    font-family: $fontFamily_default;
    font-size: $fontSize_button;
    line-height: $lineHeight_button;
    font-weight: $fontWeight_medium;
}