.footer_wrapper {
    background-color: $colorDarkblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 0 45px;
    position: relative;
}
.footer_list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.footer_link {
    text-decoration: none;
    color: $colorWhite;
}
.copyright, .slogan {
    margin: 0;
}
.slogan_heart {
    color: $colorOrange;
}
.footer_button {
    position: absolute;
    top: -75px;
}
.arrow {
    width: 20.6px;
    height: 24px;
}