.nav_button {
    background-color: $colorBlue;
    width: 44px;
    height: 44px;
    border: none;
    position: fixed;
    cursor: pointer;
}
.menu {
    width: 16px;
    height: 14px;
}
.hero_wrapper {
    background: url('../../assets/images/cover.jpg') center;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.hero_title {
    text-transform: uppercase;
    margin: 0;
    max-width: 290px;
    @media all and (min-width: 768px) {
        max-width: 690px;
    }
}
.hero_p {
    margin-top: 10px;
    @media all and (min-width: 768px) {
        margin: 10px 0 20px;
    }
}
.scroll-arrow {
    widows: 20px;
    height: 11.7px;
}
