.hero_wrapper {
    background: url('../../assets/images/cover.jpg') center;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.hero_title {
    text-transform: uppercase;
    margin-bottom: 0;
}
.hero_p {
    margin-top: 10px;
}
.scroll-arrow {
    widows: 20px;
    height: 11.7px;
}
