.section_reasons_wrapper {
    background-color: $colorIceblue;
    padding: 30px 15px 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
        padding: 30px 40px 60px;
    }
}
.reasons_title {
    text-transform: capitalize;
    margin: 0;
}
.reasons_list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.reasons_item {
    margin: 45px 0;
}
.item_title, .item_p {
    margin:0;
}
/*¿Por qué no me funciona nth:child con margin-top?
.reasons_item:not(:first-child)::before {
    content: "";
    margin-top: 45px;
}
*/
.reasons_button {
    width: 184px;
    height: 45px;
}
.button_link_reasons {
    text-decoration: none;
    @media all and (min-width: 768px) {
        margin-top: 15px;
    }
}
.reasons_grid_box {
    @media all and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
    }
    @media all and (min-width: 1225px) {
        grid-gap: 100px;
    }
}
