//Colors
$colorOrange: #f26002;
$colorWhite: #fff;
$colorLightblue: #8ccbea;
$colorBlue: #0271bc;
$colorDarkblue: #304268;
$colorBlack: #000;
$colorGrey: #4a4a4a;

//Typography
$fontFamily_title: 'Roboto Slab:700', serif;
$fontFamily_default: 'Roboto:400', sans-serif;
$fontFamily_button: 'Roboto:500', sans-serif;

$fontSize_small: 14px;
$fontSize_medium: 16px;
$fontSize_title: 18px;
$fontSize_titleBig: 24px;
$fontSize_hero: 42px;
$fontSize_button: 20px;

$lineHeight_default: 30px;
$lineHeight_button: 45px;
$lineHeight_hero: 55px;

